
td{
    padding: 1em;
    vertical-align: middle;
}

.header{
    padding-bottom: 1em;
    margin-top:5em;
}

.navbar {
    font-size: 20pt;
}

input {
    margin-bottom: 0 !important;
}

select {
    margin-bottom: 0 !important;
}

h1{
    font-family: 'Denk One', sans-serif;
}
.restaurantList{
    display:none;
    margin-top:5em;
    margin-bottom:5em;
}

.filter{
    margin-top:2em;
    margin-bottom:2em;

}
.restaurant{
    display:block;
}


.restaurant:hover{
    background-color:lightgoldenrodyellow;
    display:block
}

.selected{
    background-color:#CCEBD6;
    display:block
}
.selected:hover{
    background-color:#CCEBD6;
}
.wrapper{
    text-align: center;
    float:right;
}

#GoToBtn{
    vertical-align: 50%;
}
.res_pic{
    height: 150px;
    width: 150px;
    margin: 10px;
}
.ResName{
    font-size:2em;
    text-align: center;
    margin:40px;
}
.resAddress{
    vertical-align: middle;
}
hr{
    line-height: 10px;

}
