
td{
    padding: 1em;
    vertical-align: middle;
}

.header{
    padding-bottom: 1em;
    margin-top:5em;
}

.navbar {
    font-size: 20pt;
}

input {
    margin-bottom: 0 !important;
}

select {
    margin-bottom: 0 !important;
}

h1{
    font-family: 'Denk One', sans-serif;
}
.restaurantList{
    display:none;
    margin-top:5em;
    margin-bottom:5em;
}

.filter{
    margin-top:2em;
    margin-bottom:2em;

}
.restaurant{
    display:block;
    background-color:#FFFAF2;
    border-radius: 20px
}


.restaurant:hover{
    /*background-color:#FFE0C2;*/
    display:block;
    border-radius: 20px;
    background-image: -webkit-linear-gradient(left, #FFEAE3 0%, #FFF5E0 100%);
    -webkit-box-shadow: 3px 3px 4px #CCC;
}

.selected{
    background-color:#CCEBD6;
    display:block
}
.selected:hover{
    background-color:#CCEBD6;
}
.wrapper{
    text-align: center;
    float:right;
}

#GoToBtn{
    vertical-align: 50%;
}

/*round picture*/
.res_pic{
    height: 150px;
    width: 150px;
    margin: 10px;
    -webkit-box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
    -moz-box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
    box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);

    -webkit-border-radius: 60em;
    -moz-border-radius: 60em;
    border-radius: 60em;

}


.ResName{
    font-size:2em;
    text-align: left;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;

}
.resAddress{
    vertical-align: middle;
}
hr{
    line-height: 10px;

}
