body {
    text-align: center;
    font-size: 16pt;
}


h1{
    font-family: 'Denk One', sans-serif;
    text-align: center;
}

.navbar {
    font-size: 20pt;
}

.res_pic{
    height:200px;
    width:200px;
}
