body {
    text-align: center;
    font-size: 16pt;
}

h1{
    font-family: 'Denk One', sans-serif;
    text-align: center;
}


li.thumbnail img {
    width: 180px;
    height: 180px;
    border-radius: 20px;

}
a .btn btn-large btn-success{
    margin:10px;
}
