
td{
    padding: 0.5em;
    vertical-align: middle;
}
.header{
    padding-bottom: 1em;
    margin-top:5em;
}


.navbar {
    font-size: 180%;
}

input {
    margin-bottom: 0 !important;
}

select {
    margin-bottom: 0 !important;
}

h1{
    font-family: 'Denk One', sans-serif;
}
.restaurantList{
    margin-top:5em;
    margin-bottom:5em;
}
#resList{
    list-style-type: decimal;
}
.filter{
    margin-top:2em;
    margin-bottom:2em;

}
.restaurant{
    display:block;
}


