div.chooser-group {
    border: 1px solid #dddddd;
    padding: 5px 0px 5px 10px;
    margin: 15px 0px;
}

div.chooser-group .accordion-heading {
    font-size: 120%;
}

div.chooser-group .accordion-inner .picker {
    display: inline-block;
    width: 200px;
    margin: 10px 20px;
}

div.chooser-group .accordion-inner .picker img {
    float: left;
    margin-top: -12px;
    margin-bottom: -12px;
}

div.chooser-group .picker .pseudo-checkbox {
    width: 44px;
}

div.chooser-group .picker button.restrict {
    color: #ff3333;
}

div .chooser-group .picker button.prefer {
    color: #00dd00;
}

div .food-list button {
    margin: 0px 4px;
}

.navbar {
    font-size: 180%;
    position: fixed;
}
