
div .food-list button {
    display: block;
    margin: 10px 0px;
}


button.restrict, button.restrict.active, button.restrict:hover {
    color: #ff3333;
}

button.prefer, button.prefer.active, button.prefer:hover {
    color: #00dd00;
}
